body {
  background-color: #f7f8fa;
  font-family: 'Peyda';
  color: var(--black-500);
}

img,
svg,
object {
  object-fit: contain;
  object-position: center;
  display: block;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
}
