@use '../utils/mixins' as *;

.sidebar {
  @include flex($direction: column, $align: center, $justify: flex-start);
  width: 13.75rem;
  padding: 1.5rem 0rem 0.5rem 0rem;
  gap: 1.25rem;
  border-radius: 0.75rem;
  background: #fff;

  &__header {
    width: 10.75rem;
    @include flex($direction: column, $align: center, $justify: flex-start);
    gap: 2.5rem;
  }

  &__user-name {
    color: var(--black-500, #3c4351);
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.75rem;
  }

  &__user-id {
    @include flex($justify: space-between);
  }

  &__separator {
    width: 12.25rem;
    height: 1px;
    background-color: #e2edff;
  }

  &__menu {
    @include flex($direction: column, $align: flex-start);
    padding: 0rem 0.5rem;
    gap: 0.125rem;
    align-self: stretch;
  }
}

.user-id {
  height: 1.25rem;
  width: 10.75rem;

  &__label {
    color: #8999b9;
    font-size: 0.75rem;
  }

  &__number {
    color: var(--black-500, #3c4351);
    font-size: 0.875rem;
    font-weight: 600;
  }
}

.menu {
  &__item {
    @include flex($justify: flex-start, $align: center);
    height: 2.75rem;
    padding: 0.5rem 1rem 0.5rem 0.75rem;
    gap: 0.5rem;
    align-self: stretch;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    list-style-type: none;
    position: relative;
    cursor: pointer;

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: #8999b9;
      mix-blend-mode: lighten;
      top: 0;
    }

    &_active {
      font-weight: 700;
      background-color: #f9fafb;

      &::after {
        background-color: var(--primary-500);
      }
    }

    &:hover {
      background-color: #f9fafb;

      &::after {
        background-color: var(--primary-500);
      }
    }

    &_exit {
      &::after {
        background-color: #eb482b;
      }

      &:hover::after {
        background-color: #eb482b;
      }
    }
  }

  &__item-icon {
    height: 1.25rem;
    width: 1.25rem;
  }
}
