@use '../utils/mixins' as *;

.transactions {
  width: 100%;
  height: 100%;
  background-color: #fff;
  @include border-radius($radius: 0.75rem);
  padding: 1.5rem 1.5rem 1rem;
  @include box-shadow();
  display: flex;
  flex-direction: column;

  &__header {
    @include flex($justify: space-between);
  }

  &__table {
    margin-top: 1.5rem;
  }

  &__pagination {
    margin-top: auto;
  }

  &__title {
    @include flex();
    text-align: right;
    font-size: 1.25rem;
    font-weight: 700;
    gap: 0.15rem;
  }

  &__currency {
    color: #8999b9;
    text-align: right;
    font-size: 1rem;
    font-weight: 400;
  }

  &__tools {
    @include flex();
    gap: 0.75rem;
    font-size: 0.875rem;
  }

  &__sort {
    @include flex();
    gap: 0.5rem;
    position: relative;
  }

  &__sort-label {
    color: #8999b9;
    @include flex();
  }

  &__sort-icon {
    position: absolute;
    right: -1.1rem;
  }

  &__sort-select {
    width: 11.43rem;
    height: 2.125rem;
    @include border-radius($radius: 0.5rem);
    outline: none;
    padding-right: 0.5rem;
    font-family: 'Peyda';
    border: 1px solid #e2edff;
    background: #fff;
    appearance: none;
  }

  &__sort-arrow {
    position: absolute;
    left: 0.25rem;
  }

  &__search {
    @include flex();
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
  }

  &__search-input {
    width: 16.0625rem;
    height: 2.125rem;
    @include border-radius($radius: 0.5rem);
    outline: none;
    padding-right: 0.5rem;
    border: 1px solid #e2edff;
    background: #fff;

    &::placeholder {
      font-size: 0.875rem;
    }
  }

  &__search-icon {
    position: absolute;
    left: 0rem;
    background-color: #eceef6;
    padding: 0.4rem 0.4rem 0.5rem 0.5rem;
  }
}

//////////////////////////////////////////////////

.table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;

  tr,
  &__head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-radius: 0.5rem;
  }

  &__head {
    color: white;
    background-color: var(--primary-500);
  }

  tr {
    height: 3.8rem;
  }

  // td {
  //   @include flex();
  // }

  ////////////////////////////////////////////

  &__body tr td:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  &__body tr td:not(:nth-child(1)) {
    direction: ltr;
  }

  &__body tr:nth-child(odd) {
    background-color: white;
  }

  &__body tr:nth-child(even) {
    background-color: var(--common-surface-lightBlue);
  }
}

//////////////////////////////////////////////////

.pagination {
  @include flex;
  gap: 16px;

  &__dynamic-buttons-wrapper {
    @extend .pagination;
  }

  &__dynamic-button {
    &_selected {
      color: white;
      background-color: var(--primary-500);
      transition: color, background-color, 0.5s ease;
    }
  }

  button {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--common-gray);

    &:active {
      @extend .pagination__dynamic-button_selected;
    }
  }
}