:root {
  --primary-50: #eceef6;
  --primary-100: #c4c9e2;
  --primary-200: #a8afd3;
  --primary-300: #808bbf;
  --primary-400: #6775b3;
  --primary-500: #4152a0;
  --primary-600: #3b4b92;
  --primary-700: #2e3a72;
  --primary-800: #242d58;
  --primary-900: #1b2243;
  --black-50: #ececee;
  --black-100: #c3c5c9;
  --black-200: #a5a9af;
  --black-300: #7c818a;
  --black-400: #636974;
  --black-500: #3c4351;
  --black-600: #373d4a;
  --black-700: #2b303a;
  --black-800: #21252d;
  --black-900: #191c22;
  --fail-50: #fdedea;
  --fail-100: #f9c6bd;
  --fail-200: #f6ab9d;
  --fail-300: #f28471;
  --fail-400: #ef6d55;
  --fail-500: #eb482b;
  --fail-600: #d64227;
  --fail-700: #a7331f;
  --fail-800: #812818;
  --fail-900: #631e12;
  --success-50: #e6f9f2;
  --success-100: #b0ebd6;
  --success-200: #8ae2c2;
  --success-300: #54d4a6;
  --success-400: #33cc95;
  --success-500: #00bf7a;
  --success-600: #00ae6f;
  --success-700: #008857;
  --success-800: #006943;
  --success-900: #005033;
}

@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/woff/PeydaWeb-Thin.woff") format("woff"), url("../fonts/peyda/ttf/PeydaWeb-Thin.ttf") format("truetype"), url("../fonts/peyda/woff2/PeydaWeb-Thin.woff2") format("woff2"), url("../fonts/peyda/eot/PeydaWeb-Thin.eot") format("embedded-opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/woff/peydaWeb-extralight.woff") format("woff"), url("../fonts/peyda/ttf/peydaWeb-extralight.ttf") format("truetype"), url("../fonts/peyda/woff2/peydaWeb-extralight.woff2") format("woff2"), url("../fonts/peyda/eot/peydaWeb-extralight.eot") format("embedded-opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/woff/peydaWeb-light.woff") format("woff"), url("../fonts/peyda/ttf/peydaWeb-light.ttf") format("truetype"), url("../fonts/peyda/woff2/peydaWeb-light.woff2") format("woff2"), url("../fonts/peyda/eot/peydaWeb-light.eot") format("embedded-opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/woff/PeydaWeb-Regular.woff") format("woff"), url("../fonts/peyda/ttf/PeydaWeb-Regular.ttf") format("truetype"), url("../fonts/peyda/woff2/PeydaWeb-Regular.woff2") format("woff2"), url("../fonts/peyda/eot/PeydaWeb-Regular.eot") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/woff/PeydaWeb-Medium.woff") format("woff"), url("../fonts/peyda/ttf/PeydaWeb-Medium.ttf") format("truetype"), url("../fonts/peyda/woff2/PeydaWeb-Medium.woff2") format("woff2"), url("../fonts/peyda/eot/PeydaWeb-Medium.eot") format("embedded-opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/woff/PeydaWeb-SemiBold.woff") format("woff"), url("../fonts/peyda/ttf/PeydaWeb-SemiBold.ttf") format("truetype"), url("../fonts/peyda/woff2/PeydaWeb-SemiBold.woff2") format("woff2"), url("../fonts/peyda/eot/PeydaWeb-SemiBold.eot") format("embedded-opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/woff/PeydaWeb-Bold.woff") format("woff"), url("../fonts/peyda/ttf/PeydaWeb-Bold.ttf") format("truetype"), url("../fonts/peyda/woff2/PeydaWeb-Bold.woff2") format("woff2"), url("../fonts/peyda/eot/PeydaWeb-Bold.eot") format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/woff/PeydaWeb-ExtraBold.woff") format("woff"), url("../fonts/peyda/ttf/PeydaWeb-ExtraBold.ttf") format("truetype"), url("../fonts/peyda/woff2/PeydaWeb-ExtraBold.woff2") format("woff2"), url("../fonts/peyda/eot/PeydaWeb-ExtraBold.eot") format("embedded-opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/woff/PeydaWeb-Black.woff") format("woff"), url("../fonts/peyda/ttf/PeydaWeb-Black.ttf") format("truetype"), url("../fonts/peyda/woff2/PeydaWeb-Black.woff2") format("woff2"), url("../fonts/peyda/eot/PeydaWeb-Black.eot") format("embedded-opentype");
  font-weight: 900;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f8fa;
  font-family: "Peyda";
  color: var(--black-500);
}

img,
svg {
  object-fit: contain;
  object-position: center;
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

html {
  font-size: 16px;
  direction: rtl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container_login {
  background: url("../image/login-background.png") no-repeat center center;
  background-color: lightgray;
  background-size: cover;
}
.container_watch-header {
  height: calc(100vh - 4.25rem);
  align-items: baseline;
  padding-top: 2.5rem;
}

.header {
  width: 100%;
  height: 4.25rem;
  padding: 0.88rem 2.5rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 2px 8px 0px rgba(21, 0, 43, 0.05);
}
.header__logo {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  text-wrap: nowrap;
  font-weight: 400;
}
.header__logo img {
  height: 1.9rem;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.user-info__logout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.user-info__logout img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.user-info__notifs {
  opacity: 0.75;
  cursor: pointer;
}
.user-info__notifs:hover {
  opacity: 1;
}

.login {
  display: flex;
  gap: 1.25rem;
  border-radius: 1.25rem;
  padding: 1.25rem;
  background-color: #fff;
  width: 90%;
  max-width: 1200px;
  height: 90vh;
  max-height: 840px;
}
.login__form-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}
.login__form {
  margin-top: 3.5rem;
}
.login__logo {
  width: 45%;
  margin: 3rem;
}
.login__support {
  font-size: 0.75rem;
  margin-top: auto;
  display: flex;
  gap: 0.25rem;
}
.login__tel {
  direction: ltr;
  display: block;
}
.login__image-wrapper {
  width: 50%;
  border-radius: 0.75rem;
  overflow: hidden;
}
.login__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 60%;
}
.form__control {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 0.25rem;
  position: relative;
  margin-bottom: 0.5rem;
}
.form__input, .form__submit {
  border-radius: 0.4rem;
  border: none;
  width: 100%;
  height: 3rem;
  padding: 0 0.5rem;
}
.form__label {
  color: #3c4351;
  padding: 0 0.5rem;
}
.form__input {
  background-color: #f9fafb;
  text-align: right;
  color: #3c4351;
  font-size: 14px;
  font-weight: 600;
}
.form__input_password {
  width: 19.4rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 0.25rem;
}
.form__input:focus {
  border: 2px solid var(--primary-200);
}
.form__input:focus + .form__toggle-password {
  border: 2px solid var(--primary-200);
  border-right: none;
}
.form__input::placeholder {
  font-weight: 400;
  color: #c3c5c9;
  font-size: 14px;
}
.form__validation-message {
  padding: 0 0.5rem;
  color: #8999b9;
  font-size: 0.75rem;
  transition: color, opacity, 0.7s ease;
}
.form__submit {
  color: white;
  background-color: var(--primary-500);
  cursor: pointer;
  margin-top: 1.5rem;
  border-radius: 0.5rem;
}
.form__toggle-password {
  position: absolute;
  left: 0rem;
  bottom: 1.35rem;
  height: 3rem;
  cursor: pointer;
  background: url("../svg/icons/login/eye-closed.svg"), #f9fafb;
  background-position-y: center;
  background-position-x: right;
  background-repeat: no-repeat;
  padding-left: 2rem;
  border-radius: 0.4rem 0 0 0.4rem;
}

.submit {
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.submit__text {
  display: block;
}
.submit__text_loading {
  display: none;
}
.submit__spinner {
  width: 25px;
  height: 25px;
  border: 4px solid var(--black-500);
  border-radius: 50%;
  border-top-color: transparent;
  animation: rotate 1s linear infinite;
  display: none;
}
.submit__spinner_loading {
  display: block;
}
.submit:active {
  background-color: #fff;
  color: var(--black-500);
  border: 1px solid var(--primary-500);
}
.submit:disabled {
  cursor: not-allowed;
  background-color: var(--primary-50);
  color: var(--black-500);
  border: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.dashboard {
  width: 100%;
  height: 100%;
  max-height: 52.75rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.dashboard__info {
  position: relative;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.info__wrapper {
  display: flex;
  gap: 1rem;
}
.info__dialog {
  position: absolute;
  top: 0;
  left: 0;
}

.create-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 87.5rem;
  padding: 2.5rem;
  gap: 2.5rem;
  border-radius: 0.75rem;
  background: #fff;
}
.create-account__title {
  color: var(--black-500);
  font-size: 1.25rem;
  font-weight: 700;
}
.create-account__seperator {
  width: 100%;
  height: 0.0625rem;
  background-color: #e2edff;
}
.create-account__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.create-account__form-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 1;
  gap: 2rem;
}
.create-account__form-control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.25rem;
  flex-grow: 1;
}
.create-account__label {
  height: 1.75rem;
  padding: 0rem 0.5rem;
  color: #8999b9;
  font-size: 0.875rem;
  font-weight: 600;
}
.create-account__input, .create-account__textarea {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid var(--black-50);
  background: #f9fafb;
  color: var(--black-500);
  font-size: 0.875rem;
  font-weight: 600;
}
.create-account__input::placeholder, .create-account__textarea::placeholder {
  color: #c3c5c9;
  font-size: 0.875rem;
  font-weight: 400;
}
.create-account__input {
  height: 3rem;
  padding: 0rem 0.5rem;
}
.create-account__textarea {
  resize: none;
  height: 7.5rem;
  padding: 1rem 0.5rem;
}
.create-account__buttons-wrapper {
  align-self: flex-end;
  display: flex;
  width: 27.125rem;
  height: 3rem;
  gap: 1rem;
}
.create-account__button {
  max-width: 13rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 13.75rem;
  padding: 1.5rem 0rem 0.5rem 0rem;
  gap: 1.25rem;
  border-radius: 0.75rem;
  background: #fff;
}
.sidebar__header {
  width: 10.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2.5rem;
}
.sidebar__user-name {
  color: var(--black-500, #3c4351);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
}
.sidebar__user-id {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sidebar__separator {
  width: 12.25rem;
  height: 1px;
  background-color: #e2edff;
}
.sidebar__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0rem 0.5rem;
  gap: 0.125rem;
  align-self: stretch;
}

.user-id {
  height: 1.25rem;
  width: 10.75rem;
}
.user-id__label {
  color: #8999b9;
  font-size: 0.75rem;
}
.user-id__number {
  color: var(--black-500, #3c4351);
  font-size: 0.875rem;
  font-weight: 600;
}

.menu__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 2.75rem;
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  list-style-type: none;
  position: relative;
  cursor: pointer;
}
.menu__item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #8999b9;
  mix-blend-mode: lighten;
  top: 0;
}
.menu__item_active {
  font-weight: 700;
  background-color: #f9fafb;
}
.menu__item_active::after {
  background-color: var(--primary-500);
}
.menu__item:hover {
  background-color: #f9fafb;
}
.menu__item:hover::after {
  background-color: var(--primary-500);
}
.menu__item_exit::after {
  background-color: #eb482b;
}
.menu__item_exit:hover::after {
  background-color: #eb482b;
}
.menu__item-icon {
  height: 1.25rem;
  width: 1.25rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: space-between;
  border-radius: 0.75rem;
  width: 28.5rem;
  height: 16.25rem;
  background: linear-gradient(112deg, #4152a0 0%, #d0c9c1 100%);
  color: #fff;
  position: relative;
  overflow: hidden;
  pointer-events: none;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../svg/textures/noise.svg"), url("../svg/textures/pattern.svg"), no-repeat center;
  background-size: contain;
  z-index: 0;
}
.card__header {
  display: flex;
  margin: 2.25rem;
  margin-bottom: 0;
  justify-content: space-between;
  z-index: 1;
}
.card__balance-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 0;
}
.card__balance-title {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}
.card__balance-amount {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
}
.card__number-group {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin: 0 3.25rem 2rem;
  gap: 1rem;
  font-size: 2.25rem;
  font-weight: 400;
}

.actions-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  position: relative;
}
.actions-btn__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 4px 0px rgba(0, 67, 101, 0.05);
  color: #c3c5c9;
  font-size: 0.875rem;
  font-weight: 400;
  position: absolute;
  padding: 0.75rem;
  gap: 0.75rem;
  background: #fff;
  width: 11.8rem;
  line-height: 1.25rem;
  right: 0.125rem;
  top: 3.4rem;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility, opacity, top, 0.5s;
}
.actions-btn__icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  right: -0.68rem;
}
.actions-btn__separator {
  width: 100%;
  height: 0.065rem;
  background-color: #e2edff;
}
.actions-btn:hover {
  cursor: pointer;
}
.actions-btn:hover .actions-menu {
  top: 2.2rem;
  visibility: visible;
  opacity: 1;
}

.actions-menu__item {
  display: flex;
  gap: 0.5rem;
}
.actions-menu__item:last-child {
  color: #eb482b;
}
.actions-menu__icon {
  width: 1.25rem;
  height: 1.25rem;
  background-size: cover;
}
.actions-menu__icon_change {
  background-image: url("../svg/icons/dashboard/convert-card.svg");
}
.actions-menu__icon_delete {
  background-image: url("../svg/icons/common/exit.svg");
}

.box {
  width: 21rem;
  height: 16.25rem;
  background-color: white;
  border-radius: 0.75rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box__top-part {
  display: flex;
  justify-content: space-between;
}
.box__title {
  font-size: 1.25rem;
  font-weight: 700;
}
.box__more {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.box__installment {
  margin-top: auto;
  margin-bottom: 1.25rem;
}
.box img {
  width: 1.5rem;
  height: 1.5rem;
}
.box__button {
  width: 100%;
  height: 2.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--primary-50);
  color: #3c4351;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.box__button:active {
  background-color: var(--primary-200);
}

.score__label, .installment__label {
  color: #8999b9;
  font-size: 0.875rem;
  font-weight: 400;
}
.score__control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.score__money, .score__number {
  font-weight: 700;
  color: var(--primary-500);
}
.score__money {
  font-size: 2.5rem;
}
.score__number {
  font-size: 1.25rem;
}

.installment__label {
  margin: 0.25rem 0;
}
.installment__wrapper {
  display: flex;
  justify-content: space-between;
}

.transactions {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 0.75rem;
  padding: 1.5rem 1.5rem 1rem;
  box-shadow: 0px 0px 4px 0px rgba(0, 67, 101, 0.05);
}
.transactions__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.transactions__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: right;
  font-size: 1.25rem;
  font-weight: 700;
  gap: 0.15rem;
}
.transactions__currency {
  color: #8999b9;
  text-align: right;
  font-size: 1rem;
  font-weight: 400;
}
.transactions__tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  font-size: 0.875rem;
}
.transactions__sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
}
.transactions__sort-label {
  color: #8999b9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.transactions__sort-icon {
  position: absolute;
  right: -1.1rem;
}
.transactions__sort-select {
  width: 11.43rem;
  height: 2.125rem;
  border-radius: 0.5rem;
  outline: none;
  padding-right: 0.5rem;
  font-family: "Peyda";
  border: 1px solid #e2edff;
  background: #fff;
  appearance: none;
}
.transactions__sort-arrow {
  position: absolute;
  left: 0.25rem;
}
.transactions__search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}
.transactions__search-input {
  width: 16.0625rem;
  height: 2.125rem;
  border-radius: 0.5rem;
  outline: none;
  padding-right: 0.5rem;
  border: 1px solid #e2edff;
  background: #fff;
}
.transactions__search-input::placeholder {
  font-size: 0.875rem;
}
.transactions__search-icon {
  position: absolute;
  left: 0rem;
  background-color: #eceef6;
  padding: 0.4rem 0.4rem 0.5rem 0.5rem;
}

.dialog {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(247, 248, 250, 0.84);
  border: none;
  z-index: 1;
}
.dialog__note {
  font-weight: 600;
  margin: 1.5rem 0 2rem;
}
.dialog__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 12.5rem;
  height: 3rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  color: white;
  background-color: var(--primary-500);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
.dialog__button:active {
  background-color: #fff;
  color: var(--black-500);
  border: 1px solid var(--primary-500);
}

.button {
  flex-grow: 1;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.button_primary {
  background-color: var(--primary-500);
  color: #fff;
}
.button_secondary {
  background-color: var(--primary-50);
  color: var(--black-500);
}

/*# sourceMappingURL=main.css.map */
