@use '../utils/mixins' as *;

.header {
  border: solid lightgreen;
}

//////////////////////////////////////////////

.dashboard {
  display: flex;
  padding: 2.5rem 16.25rem 10.5rem;
  border: solid green;

  &__sidebar {
  }

  &__info {
  }

  &__dialog {
  }
}

//////////////////////////////////////////////

.sidebar {
  width: 13.75rem;
  border: solid yellow;
}

//////////////////////////////////////////////

.info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: solid lightcoral;

  &__wrapper {
    display: flex;
    gap: 1rem;
    border: solid greenyellow;
  }

  &__card {
  }

  &__box {
  }

  &__transactions {
  }
}

.card {
  width: 28.5rem;
  height: 16.25rem;
  flex-shrink: 0;
  border: solid lightblue;
}

.box {
  width: 21rem;
  height: 16.25rem;
  border: solid lightblue;
}

.score {
}

.installment {
}

.transactions {
  width: 100%;
  height: 100%;
  border: solid lightblue;
}

//////////////////////////////////////////////

.dialog {
}
