.dashboard {
  display: flex;
  padding: 2.5rem 16.25rem 10.5rem;
}

//////////////////////////////////////////////

.info {
  position: relative; // for .dialog
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__wrapper {
    display: flex;
    gap: 1rem;
  }
}
